html {
    width: 100%;
    height: 100%;

    body {
        width: 100%;
        height: 100%;
        position: relative;

        // banner 圖片
        .bannerBg {
            width: 100%;
            min-width: 1490px;
            height: 488px;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
        }

        // 控制面板
        .styleControl {
            width: 150px;
            height: auto;
            min-height: 60px;
            position: fixed;
            top: 620px;
            left: 0;
            z-index: 999;

            .controlBtn {
                width: 60px;
                height: 60px;
                border-radius: 10px;
                background: #ffffff;
                box-shadow: 1px 1px 0 0 #00000096;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 20px auto;

                p {
                    font-size: 14px;
                    font-weight: bold;
                }
            }

            .colorBtn {
                width: 100%;
                height: auto;
                display: flex;
                flex-direction: column;
                align-items: center;
                display: none;

                li {
                    width: auto;
                    height: auto;

                    button {
                        width: 60px;
                        height: 60px;
                        border-radius: 30px;

                        p {
                            color: #ffffff;
                            font-weight: bold;
                            font-size: 15px;
                        }

                        &.pinkStyle {
                            background: #ff00a8;
                        }

                        &.blackStyle {
                            background: #000000;
                        }

                        &.redStyle {
                            background: #ff0000;
                        }
                    }
                }

                &.display {
                    display: flex;
                }
            }
        }

        @import "./main";
    }
}