// 主色系 bg
$mainBg_1 : #ff00a8;
$mainBg_2 : #ffffff;
$mianBg_3 : #eaeaea;

// 副色系 bg
$secondBg_1 :#720046;
$secondBg_2 :#0cedb0;
$secondBg_3 :#fcff00;

// 透明 bg 
$thirdBG_1 :#ffffffd3;
$thirdBG_2 :#dedede;
// text color 主色
$mainColor_1 : #ff00a8;
$mainColor_2 : #ffffff;

// text color 副色
$secondColor_1 : #720046;

// icon color // border
$borderColor_1 :#0cedb0;
$borderColor_2 :#ff00a8;
$borderColor_3 :#000000;
$borderColor_4: #720046;


// shadow
$shadow_1 : #00000096;
// active 遮罩
$shadow_2 : #00000096;


// .searchRow 
@mixin searchRowStyle {
    background: linear-gradient(to right, #ff00d2 0%, #fcff24 100%);
    border-radius: 5px;
}

// 產品區按鈕
@mixin productAreaBtn {
    background: linear-gradient(to top, #e9e9e9 0%, #f9f9f9 53%, #ffffff 100%);
    border-radius: 10px;
    box-shadow: 0 5px 3px 0 $shadow_1 ;
}


//各別路徑

// banner 圖片
html body .bannerBg {
    background: url("../img/pinkStyle/banner_img.jpg") no-repeat;
    background-size: cover;
}

//  人物 
html body .mainRole {
    background: url("../img/pinkStyle/footer_role.png") no-repeat right;
    background-size: contain;
}



html body main .leftArea {
    background: $thirdBG_1 ;
}

html body main .leftArea .topArea {
    background: $mainBg_2 ;
}

html body main .leftArea .topArea form label input {
    background: $mainBg_2;

    &:focus {
        background: $thirdBG_2;
    }

    &::placeholder {
        color: $mainColor_1;
    }
}

html body main .leftArea .topArea form .loginBtn {
    &.ch {
        background: $secondBg_2 ;
        color: $mainColor_2;
    }

    &.jp {
        background: $secondBg_3 ;
    }
}


html body main .leftArea .topArea form .forget {
    p {
        color: $secondColor_1;
    }

    .questionIc {
        border-color: $borderColor_4;
    }
}

html body main .leftArea .infoSelect li {
    background: $secondBg_1;
    border-color: $mainBg_2;

    .arrow_ic {
        border-color: $borderColor_1;
    }

    &:hover,
    &:active,
    &.active {
        background: $mainBg_1;

        .arrow_ic {
            border-color: $mainBg_2 ;
        }
    }

    p {
        color: $mainColor_2;
    }
}



html body main .rightArea .mainWrap .gameMenu {
    background: $mainBg_1 ;

    li {

        &:hover,
        &:active,
        &.active {
            background: $mainBg_2;

            p {
                color: $mainColor_1;
            }
        }

        p {
            color: $mainColor_2;
        }

    }
}


html body main .rightArea .mainWrap .daddyMenu {
    background: $mainBg_2;

    .dropDown_ic {
        background: $secondBg_1;

        i {
            border-color: $mainBg_2;

        }
    }
}


html body main .rightArea .mainWrap .daddyMenu ul li div {
    background: $secondBg_1;
}

html body main .rightArea .mainWrap .daddyMenu ul li p {
    color: $secondColor_1;
}

html body main .rightArea .gridWrap .titleWrap {
    background: $mianBg_3 ;
}

html body main .rightArea .gridWrap .searchRow {
    @include searchRowStyle;
    box-shadow: 0px 0px 5px 0 $shadow_1 ;
}

html body main .rightArea .gridWrap .procuctWrap {
    background: $mainBg_2;
    box-shadow: 0px 0px 5px $shadow_1 inset;
}

html body main .rightArea .gridWrap .procuctWrap ul li .maskActive {
    background: $shadow_2;
}

html body main .rightArea .gridWrap .procuctWrap ul li .maskActive button {
    &.enterGame {
        background: $secondBg_2;

        p {
            color: $mainColor_2;
        }
    }

    &.tryOutGame {
        background: $secondBg_3 ;
    }
}


html body main .rightArea .gridWrap .procuctWrap ul li .maskActive .maskInnerText {
    color: $mainColor_2;
}

html body main .rightArea .gridWrap .procuctWrap .productAreaBtn {
    @include productAreaBtn;
}

html body main .rightArea .gridWrap .procuctWrap .productAreaBtn .product_arrow_ic i {
    border-color: $borderColor_2;
}


html body main .rightArea .infoWrap .latestNews {
    color: $mainColor_2;
}

html body main .rightArea .infoWrap .swiper-banner {

    .swiper-button-prev,
    .swiper-button-next {
        &::before {
            border-color: $borderColor_2 $borderColor_2 transparent transparent;
        }
    }
}


html body main .rightArea footer {
    background: $mainBg_2;
}

html body main .rightArea footer .serviceWrap .serviceLeftArea .serviceIc {
    background: $mainBg_1;
    box-shadow: 0 5px 3px 0 $shadow_1;
}

html body main .rightArea footer .serviceWrap .serviceLeftArea .serviceIc p {
    color: $mainColor_2;
}

html body main .rightArea footer .authorized {
    background: $mianBg_3 ;
}

html body main .rightArea footer .authorized p {
    color: $mainColor_1;
}

html body main .rightArea aside.toTop {
    background: $secondBg_3;
}

html body main .rightArea aside.toTop p i {
    border-color: $borderColor_3;
}

html body main .rightArea aside.language_chg {
    background: $mainBg_1;
}

html body main .rightArea aside.language_chg p {
    color: $mainColor_2 ;
}